@font-face {
  font-family: 'Movavi';
  font-style: normal;
  font-weight: 900;
  src: url('./Movavi Grotesque Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('./Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('./Lato-Black.ttf') format('truetype');
}
